@mixin absolutePos() {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@mixin btn() {
  outline: none;
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}

@mixin section() {
  display: flex;
  margin-top: 5.7rem;
  justify-content: space-between;
}

@mixin sectionCard() {
  background: #fff;
  border-radius: 2.4rem;

  min-height: 30rem;
  flex-shrink: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0.1);
}

@mixin sectionCardHeader() {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@mixin pageStyle() {
  padding-left: 21rem;

  &__body {
    padding: 15rem 4.5rem 0 10rem;
  }
}

@mixin btnLoadMore() {
  font-weight: 600;
  background: #1b1d21;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
  border-radius: 1.2rem;
  height: 4.5rem;
  width: 14rem;
}

@mixin typicalCard() {
  border-radius: 1.8rem;
  background: #fff;
  cursor: pointer;
  box-shadow: -3px 0 20px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: -3px 0 20px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: -3px 0 20px rgba(0, 0, 0, 0.1)  ; 
}
