$transition-primary: all 0.5s ease;
$primary-color: #e22222;
$primary-color-blue: #2d5faa;
$color-white: #fff;
$color-primary: #159183;
$color-gray: #838a96;
$color-blue: #0049C6;
$color-black-font: #2f3147;
